<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032855682127-uegsn6orojgk4g3bps0nkpm0u4t9bfus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032855682127-uegsn6orojgk4g3bps0nkpm0u4t9bfus</string>
	<key>API_KEY</key>
	<string>AIzaSyAkWTLLdNb_dZS-tmtf_x8npNpqq3SvLak</string>
	<key>GCM_SENDER_ID</key>
	<string>1032855682127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ank.HappyLilAccidents</string>
	<key>PROJECT_ID</key>
	<string>happylilaccidents-ank2023</string>
	<key>STORAGE_BUCKET</key>
	<string>happylilaccidents-ank2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032855682127:ios:04c1eee52ec2fc57037e3a</string>
</dict>
</plist>